<header>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</header>

<div class="container" style="margin-top: 100px">
    <h3 class="padding 200px">Formulário de Cadastro</h3>
    <form [formGroup]="formulario" (ngSubmit)="cadastrar(formulario)" class="col-12" >
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="nome" name="nome" type="text" class="form-control" formControlName="nome" required>
          <div  *ngIf="formulario.get('nome')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>          
          <label for="nome">Nome</label>          
        </div>        
        <div class="input-field col s6">
          <input placeholder="" id="sobrenome" name="nome" type="text" class="form-control" formControlName="sobrenome" required>
          <div  *ngIf="formulario.get('sobrenome')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>
          <label for="sobrenome">Sobrenome</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="imgUrl" name="imgUrl" type="text" class="form-control" formControlName="imgUrl" required>
          <div  *ngIf="formulario.get('imgUrl')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>
          <label for="imgUrl">Link da sua foto de perfil</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix ">email</i>
          <input id="email" name="email" type="email" class="form-control" formControlName="email" required>
          <div  *ngIf="formulario.get('email')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="telefone" name="telefone" type="number" class="form-control" formControlName="telefone" required >
          <div  *ngIf="formulario.get('telefone')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>                  
          <label for="telefone">Telefone</label>
        </div>
      </div>
      <label style="font-size: 18px;">Estado</label>
      <select class="browser-default col-4" id="estado" name="estado" formControlName="estado" required>
        <option value="" disabled selected>Selecionar estado</option>
        <option value="Acre">Acre</option>
        <option value="Alagoas">Alagoas</option>
        <option value="Amapá">Amapá</option>
        <option value="Amazonas">Amazonas</option>
        <option value="Bahia">Bahia</option>
        <option value="Ceará">Ceará</option>
        <option value="Distrito Federal">Distrito Federal</option>
        <option value="Espírito Santo">Espírito Santo</option>
        <option value="Goiás">Goiás</option>
        <option value="Maranhão">Maranhão</option>
        <option value="Mato Grosso">Mato Grosso</option>
        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
        <option value="Minas Gerais">Minas Gerais</option>
        <option value="Pará">Pará</option>
        <option value="Paraíba">Paraíba</option>
        <option value="Paraná">Paraná</option>
        <option value="Pernambuco">Pernambuco</option>
        <option value="Piauí">Piauí</option>
        <option value="Rio de Janeiro">Rio de Janeiro</option>
        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
        <option value="Rondônia">Rondônia</option>
        <option value="Roraima">Roraima</option>
        <option value="Santa Catarina">Santa Catarina</option>
        <option value="São Paulo">São Paulo</option>
        <option value="Sergipe">Sergipe</option>
        <option value="Tocantins">Tocantins</option>
        <option value="Estrangeiro">Estrangeiro</option>
      </select>
      <div  *ngIf="formulario.get('estado')?.errors"   >
        <p style="color: red">*Campo obrigatório</p>
      </div>
    
      <div class="row">
        <div class="input-field col s12">
          <textarea id="sobre" name="sobre" class="materialize-textarea" formControlName="sobre" required></textarea>
          <div  *ngIf="formulario.get('sobre')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>
          <label for="textarea1">Escreva um pouco sobre você...</label>
        </div>
      </div>
      <br>
      <button (click)="avisarCadastro()" [disabled]="formulario.invalid" class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
</div>