<header>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</header>

<div class="container" style="margin-top: 100px">
    <h3 class="padding 200px">Formulário de Cadastro</h3>
    <form [formGroup]="formulario" (ngSubmit)="cadastrar(formulario)" class="col-12" >
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="nome" name="nome" type="text" class="form-control" formControlName="nome" required>
          <div  *ngIf="formulario.get('nome')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>          
          <label for="nome">Nome</label>          
        </div>        
        <div class="input-field col s6">
          <input placeholder="" id="sobrenome" name="nome" type="text" class="form-control" formControlName="sobrenome" required>
          <div  *ngIf="formulario.get('sobrenome')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>
          <label for="sobrenome">Sobrenome</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="imgUrl" name="imgUrl" type="text" class="form-control" formControlName="imgUrl" required>
          <div  *ngIf="formulario.get('imgUrl')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>
          <label for="imgUrl">Link da sua foto de perfil</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix ">email</i>
          <input id="email" name="email" type="email" class="form-control" formControlName="email" required>
          <div  *ngIf="formulario.get('email')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="telefone" name="telefone" type="number" class="form-control" formControlName="telefone" required >
          <div  *ngIf="formulario.get('telefone')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>                  
          <label for="telefone">Telefone</label>
        </div>
      </div>
      <label style="font-size: 18px;">Estado</label>
      <select class="browser-default col-4" id="estado" name="estado" formControlName="estado" required>
        <option value="" disabled selected>Selecionar estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
        <option value="EX">Estrangeiro</option>
      </select>
      <div  *ngIf="formulario.get('estado')?.errors"   >
        <p style="color: red">*Campo obrigatório</p>
      </div>
    
      <div class="row">
        <div class="input-field col s12">
          <textarea id="sobre" name="sobre" class="materialize-textarea" formControlName="sobre" required></textarea>
          <div  *ngIf="formulario.get('sobre')?.errors"   >
            <p style="color: red">*Campo obrigatório</p>
          </div>
          <label for="textarea1">Escreva um pouco sobre você...</label>
        </div>
      </div>
      <br>
      <button (click)="avisarCadastro()" [disabled]="formulario.invalid" class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
</div>